#mindCalanderList {
    .list_day_container {
        
        .day-label {
            margin-bottom: 10px;
            font-size: 1.8em;
            font-weight: 300;
            text-align: center;
            margin-top: 30px;
        }
        .item_meta_container {
            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            background-color: rgb(245, 245, 245); 
            border-radius: 20px;
            padding: 10px;
            border: 1px solid rgb(221, 221, 221);
            margin-bottom: 20px;
            // flex-wrap: wrap;
            .meta-item {
                flex: 1 1 100%;
                margin-bottom: 10px;
                flex: 1 1 auto;
                &.time-span {
                    
                    .starttime {
                        .label {
                            font-size: .6em;
                            text-transform: uppercase;
                            display: block;
                            font-weight: bold;
                        }
                        .value {
                            font-weight: bold;
                        }
                    }
                    .endtime {
                        .label {
                            font-size: .6em;
                            text-transform: uppercase;
                            display: block;
                            font-weight: bold;
                        }
                        .value {
                            font-weight: bold;
                        }
                    }
                }
                &.description {
                    .value {
                        display: block;
                    }
                }
                &.link {
                    // min-width: 200px;
                    // align-self: flex-end;
                    // min-width: 300px;
                }
            }
        }

    }
}

@media (min-width: 768px) {
  #mindCalanderList {
    .list_day_container {
      .item_meta_container {
        flex-direction: row;
      }
    }
  }
}