#eventsCalendar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  .la-ball-fall {
    position: inherit;
  }

  table.SimpleCalendar {
  	font-family: monospace;
  	width: 100%;
    thead {
      border: 1px solid $secondary;
    }
  	th {
  		background: $light;
  		color: $secondary;
  		font-size: 1.3em;
  		padding: 5px;
      border-color: $secondary;
  		border-bottom: 1px solid $secondary;
  	}

  	tbody {
      tr {
        border: none;
      }
  		td {
        width: (100% / 7) !important;
        vertical-align: top;
  			border: 1px solid rgba(200, 200, 200, .3);
  			background: rgb(250, 250, 250);
        position: relative;

  			time {
          font-size: 1.2em;
          display: block;
          background: #fff;
          font-weight: bold;
          text-align: center;
          padding: 20px 5px;
          .la-ball-fall {
            position: absolute;
          }
          &.selected {
            background: lighten($success, 50%);
          }
          &:hover {
            background: lighten($success, 50%);
          }
  			}

  			&.SCsuffix, &.SCprefix {
  				background: rgba(1, 1, 1, .1);
  			}

  			div.event {
          position: relative;;
          span {
            font-size: .65em;
            padding: 5px;
            line-height: 1em;
            border-bottom: 1px solid #bbb;
            background: rgb(133, 133, 133);
            color: white;
            white-space: normal;
            display: block;
            &.new {
              background: $success;
            }
            &:hover {
              background: $danger;
              border: darken($danger, 10%);
              cursor: pointer;
            }
          }
  			}

  		}

  		td.today {
  			background: rgb(210, 210, 210);
  		}

  	}

  }
}
