
// XS styles - default: x <= 479px
@media (max-width: 576px) {
  section.content {
    flex-direction: column;
  }


  #publicCalendar, #mindEventList {
    .meta_inner_container {
      flex-wrap: wrap;
      .featured-image {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .left-content {
        width: 100%;
        margin-top: 30px !important;
      } 
      .right-content {
        width: 100%;
        margin-top: 30px !important;
      }
    }
    
  }
  #mindCalanderList{
    .list_day_container {
      .item_meta_container {
        .meta-item {
          &.description {
            margin-left: 0 !important; 
            font-size: .9em;
            line-height: 1.2em;
          }
          &.link {
            width: 100%;
            .offer-link {
              width: 100%;
              a, button {
                display: block;
                width: 100%;
              }
            }
            
          }
          &.time-span {
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            .endtime {
              margin-top: 0px !important;
            }
        }
          
        }
        .featured-image {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  section.content{
    .featured-image-wrap {
      padding-right: 0px;
      margin-bottom: 20px;
    }
  }
}

// Small styles - default: 480px <= x <= 991px
@media (min-width: 576px) and (max-width: 992px) {
  #publicCalendar, #mindEventList {
    .meta_inner_container {
      flex-wrap: wrap;
      .featured-image {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .left-content {
        width: 50%;
        padding-left: 20px !important;
      }
      .right-content {
        width:100%;
        margin-top: 30px !important;
      }
    }
  }
  section.content{
    flex-direction: row;
    .featured-image-wrap {
      padding-right: 15px;
      margin-bottom: 20px;
    }
  }
}

// Medium styles - default: 992px <= x <= 1199px
@media (min-width: 992px) and (max-width: 1200px) {
  #publicCalendar, #mindEventList {
    .meta_inner_container {
      flex-wrap: nowrap;
      .featured-image {
        width: 25%;
        img {
          width: 100%;
        }
      }
      .left-content {
        // width:50%;
        padding-left: 15px !important;
      }
      .right-content {
        width: 25%;
        padding-left: 15px !important;
      }
    }
  }
  section.content{
    flex-direction: row;
    .featured-image-wrap {
      padding-right: 15px;
      margin-bottom: 20px;
    }
  }
}

// Large styles - default: 1200px <= x
@media (min-width: 1200px) {
  #publicCalendar, #mindEventList {
    .meta_inner_container {
      flex-wrap: nowrap;
      .featured-image {
        width: 25%;
        img {
          width: 100%;
        }
      }
      .left-content {
        // width: 50%;
        padding-left: 20px !important;
      }
      .right-content {
        width: 25%;
        padding-left: 20px !important;
      }
    }
  }
  section.content{
    flex-direction: row;
    .featured-image-wrap {
      padding-right: 15px;
      margin-bottom: 20px;
    }
  }
}
.text-xs-left {
  text-align: left;
}

.text-xs-right {
  text-align: right;
}

.text-xs-center {
  text-align: center;
}

.text-xs-justify {
  text-align: justify;
}







