@mixin transition($speed) {
    -webkit-transition: all $speed ease;
    -moz-transition: all $speed ease;
    -ms-transition: all $speed ease;
    -o-transition: all $speed ease;
    transition: all $speed ease;
  }
  @mixin button-link {
    border: 1px solid #fff;
    border-left: 5px solid #fff;
    padding: 6px 8px;
    margin-bottom: 4px;
    font-size: .9em;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    width: 100%;
    @include transition(300ms);
    &:hover {
      border-left-width: 10px;
      background-color: rgba(255,255,255,.6);
      @include transition(100ms);
    }
  }
  $primary:       rgb(67, 160, 217);
$secondary:     rgb(217, 67, 160);
$tertiary:      rgb(160, 217, 67);
$success:       $tertiary;
$info:          rgb(225, 233, 214);
$warning:       rgb(255, 205, 23);
$danger:        rgba(201,73,73, 1);
$light:         rgba(220,220,220, 1);
$dark:          rgb(35, 31, 32); 