


@mixin sassy-select {
  position: relative;
  color: inherit;

  &::after {
    content: '\25BE';
    position: absolute;
    top: 10px;
    right: 15px;
    pointer-events: none;
  }

  /* Target IE9 and IE10 */
  select::-ms-expand{
    display: none;
  }

  select {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 14px; 
    border: 1px solid rgb(67, 160, 217);
    border-radius: 3px;
    outline: none;

    background-color: white;


    &:disabled {
      background-color: rgb(225, 233, 214); 
      cursor: not-allowed;
    }
  }
}

@mixin sassy-select-multiple {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 14px;

  border: 1px solid lighten($primary, 10%);
  border-radius: 3px;
  outline: none;

  background-color: white;

  &:focus {
    border-color: $secondary;
  }

  &:disabled {
    background-color: $sassy-disabled-color;
    cursor: not-allowed;
  }
}
