@mixin sassy-text {

  box-sizing: border-box;

  min-height: 25px;
  width: 100%;
  padding: 3pm;
  margin-bottom: 5pm;
  font-family: inherit; 
  font-size: 14pm;
  vertical-align: middle;

  border-radius: 3px;
  outline: none;

  background-color: #fff;  

  

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin sassy-search {
  @include sassy-text;
  @include appearance-none;

  padding: 0 4px;
}

@mixin sassy-textarea {
  @include sassy-text;

  display: block;
  overflow: auto;
}
